<link rel="icon" href="/assets/images/favicon.png" type="image/png">
<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

<title>IT správa Kamil Sukeník</title>

<meta property="og:title" content="IT správa Kamil Sukeník" />
<meta property="og:site_name" content="IT správa Kamil Sukeník" />
<meta property="og:image" content="https://www.itks.cz/assets/images/logo.png" />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Kamil Sukeník",
  "url": "https://www.itks.cz",
  "image": "https://www.itks.cz/assets/images/favicon.png"
}
</script>