.img-protect {
  width: 250px;
  height: 250px;
  background-image: url('/assets/images/PodpisKS.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  pointer-events: none;
}
